<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dept" class="com.wipro.demo.Department">
		<property name="id" value="100" />
		<property name="name" value="ECE" />
		<property name="budget" value="2000000" />
	</bean>

	<bean id="emp" class="com.wipro.demo.Employee">
		<property name="id" value="123" />
		<property name="name" value="Shreyansh" />
		<property name="department" ref="dept" />
		<property name="salary" value="989898" />		
	</bean>
</beans>
